<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : (%F:%L) %m%n"/>
        </layout>
    </appender>

    <appender name="studyAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="./log/study.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyMMdd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p : %m%n"/>
        </layout>
    </appender>

    <logger name="studyLogger" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="studyAppender"/>
    </logger>

    <root >
        <priority value="INFO" />
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>
